

<div class="bar bar-header bar-dark">
  <h1 class="title">ROI - Fast to Value !</h1>
</div>

<div class="content has-header">
    <div class="list card">
         <div class="item item-divider">
             <h4>Количество распечатнных страниц в Питерском офисе:</h4>
        </div>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-printer"></i>
              <p>Количество распечатанных старниц на 1м / 2м принтерах: {{number1}} / {{number2}}</p>
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-printer"></i>
              <p>Последняя дата проверки: {{dateInString}} </p>
        </a>
        <a href="#" class="item item-icon-left">
            <i class="icon ion-printer"></i>
             <p>Итого распечатанных страниц: {{sum}}</p>
        </a>
   </div>






  <div class="list card">
      <div class="item item-divider">
          <h4>Текущая температура в Питерском офисе:</h4>
      </div>
      <a href="#" class="item item-icon-left">
          <i class="icon ion-alert-circled"></i>
          <p>Помещение 6А81: <i>счетчик еще не настроен</i> </p>
      </a>
 </div>

</div>


  <div class="tabs">
    <a class="tab-item">
      Home
    </a>
    <a class="tab-item">
      Russian office
    </a>
    <a class="tab-item">
      Latvian office
    </a>
  </div>
