

<div class="bar bar-header bar-dark">
  <h1 class="title">ROI - Fast to Value ! (ПИТЕР)</h1>
</div>

<div class="content has-header">

  <div class="list card">
      <div class="item item-divider">
          <h4>Уровень освещенности в 6А81:</h4>
          <h4>Измеряется от 0(абсолютный свет) до 1000 лм(темнота)</h4>
      </div>
      {{#each mi}}
      <a href="#" class="item item-icon-left">
          <i class="icon ion-android-sunny"></i>
              <p>Уровень света, лм: {{luminosity}}</p>
            <p>На дату: {{date}} </p>
      </a>
      {{/each}}
  </div>

</div>


  <div class="tabs">
    <a class="tab-item">
      Home
    </a>
  </div>
