

<div class="bar bar-header bar-dark">
  <h1 class="title">ROI - Fast to Value ! (ПИТЕР)</h1>
</div>

<div class="content has-header">
    <div class="card">
      <div class="item item-text-wrap">
          <p>
              Датчик света берет показания каждую минуту. В данном списке видны последние показания за 24 часа, итого 48 записей, для того чтобы убедиться в том, что ночью показатели будут более высокие.
          </p>
      </div>
    </div>
    <div>
        <div class="card">
            <iframe width="320" height="185" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/140011/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line"></iframe>
        </div>
    </div>
  <div class="list card">
      <div class="item item-divider">
          <h4>Уровень освещенности в 6А81:</h4>
      </div>
      {{#each mi}}
      <a href="#" class="item item-icon-left">
          <i class="icon ion-android-sunny"></i>
              <p>Освещенность: {{luminosity}} %</p>
            <p>Время: {{time}}, {{date}} </p>
      </a>
      {{/each}}
  </div>

<br />
<br />
</div>
