
<h1>ROI - Fast to Value !</h1>

<h2>Количество распечатнных страниц в Питерском офисе:</h2>
<p>Количество распечатанных старниц на 1м принтере: {{number1}}</p>
<p>Количество распечатанных старниц на 2м принтере: {{number2}}</p>
<p>Итого распечатанных страниц: {{sum}}</p>

<h2>Текущая температура в Питерском офисе:</h2>
<p>Помещение 6А81: <i>счетчик еще не настроен</i> </p>
