<h1>Добро пожаловать!</h1>
<p>Количество распечатанных старниц на 1м принтере: {{number1}}</p>
<p>Количество распечатанных старниц на 2м принтере: {{number2}}</p>
<p>Итого распечатанных страниц: {{sum}}</p>
